#bottom {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}
img {
  border-radius: 10px;
  margin: 10px 0;
}

h2 {
  color: #3f51b5;
}
.detail-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.photo-etudiant {
  width: 120px;
  border-radius: 50%;
  margin: 10px 0;
}

.image-matiere {
  width: 200px;
  border-radius: 10px;
  margin: 15px 0;
}

h2 {
  color: #3f51b5;
}