@if(assignmentAffiche(); as assignment) {
  <mat-card class="detail-container">

    <mat-card-header>
      <mat-card-title>{{assignment.nomDevoir}}</mat-card-title>
      <mat-card-subtitle>{{assignment.nom}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <!-- PHOTO ETUDIANT -->
      <img *ngIf="assignment.auteur"
           [src]="assignment.auteur"
           class="photo-etudiant">
           
      <p><strong>Matière :</strong> {{assignment.matiere}}</p>

      <!-- IMAGE MATIERE -->
      <img *ngIf="assignment.imageMatiere"
           [src]="assignment.imageMatiere"
           class="image-matiere">

      
      <p><strong>Professeur :</strong> {{assignment.professeur}}</p>
      <p><strong>Date :</strong> {{assignment.dateDeRendu | date}}</p>
      <p><strong>Note :</strong> {{assignment.note}} /20</p>
      <p><strong>Remarques :</strong> {{assignment.remarques}}</p>

    </mat-card-content>

    <mat-card-actions id="bottom">

      <mat-checkbox 
        [checked]="assignment.rendu"
        (change)="onAssignmentRendu()">
        Rendu
      </mat-checkbox>

      <button mat-raised-button color="primary"
              (click)="onAssignmentRendu()">
        Valider
      </button>

      <button mat-stroked-button color="primary"
      *ngIf="assignment._id && isAdmin()"
      (click)="onEditAssignment(assignment._id!)"
       >
       EDIT
      </button>

      <button mat-stroked-button color="warn"
              (click)="onDeleteAssignment()"
              *ngIf="isAdmin()">
        DELETE
      </button>

    </mat-card-actions>

  </mat-card>
}